<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:firmware="http://typo3.org/ns/FFPI/FfpiFirmwareList/ViewHelper"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">

    <table class="contenttable firmware-list">
        <thead>
        <tr>
            <th scope="col"><f:translate key="header.router" /></th>
            <th scope="col"><f:translate key="header.hw_version" /></th>
            <th scope="col"><f:translate key="header.factory" /></th>
            <th scope="col"><f:translate key="header.sysupgrade" /></th>
        </tr>
        </thead>
        <f:for each="{firmwareList}" as="router" key="unifiedRouterIdentifier">

            <tr id="{unifiedRouterIdentifier}">
                <td><f:translate key="LLL:EXT:ffpi_firmware_list/Resources/Private/Language/router_names.xlf:{router.router.router}"><firmware:routerNameFallback unifiedRouterIdentifier="{router.router.router}" /></f:translate></td>
                <td>{router.router.routerVersion}</td>
                <td>
                    <f:for each="{router.firmware}" as="firmware" iteration="i">
                        <f:if condition="{firmware.factory}">
                            <a href="{firmware.factory.file.publicUrl}">{firmware.factory.firmwareParts.firmwareVersion}</a>
                        </f:if>
                        <f:if condition="{i.isLast}">
                            <f:else><br/></f:else>
                        </f:if>
                    </f:for>
                </td>
                <td>
                    <f:for each="{router.firmware}" as="firmware" iteration="i">
                        <f:if condition="{firmware.sysupgrade}">
                            <a href="{firmware.sysupgrade.file.publicUrl}">{firmware.sysupgrade.firmwareParts.firmwareVersion}</a>
                        </f:if>
                        <f:if condition="{i.isLast}">
                            <f:else><br/></f:else>
                        </f:if>
                    </f:for>
                </td>
            </tr>
        </f:for>
    </table>
</f:section>
</html>